name: Continuous Build Lint Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [main]

jobs:
  build-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.26.0

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

      - name: Build
        run: pnpm build
